html
  width 100vw
  height 100vh
  max-height 100vh

  body
    background url('images/coffee-counter-barista.jpg') no-repeat top center
    width 100vw
    height 100vh
    max-height 100vh
    overflow hidden
    font-family 'Russo One', sans-serif
    font-size 1.1em
    color black
    margin 0

    h1, h2, h3, h4, h5, h6, h7
      text-align center

    ul
      list-style: none;
      margin-top: 20px;
      padding: 0;
      li
        margin: 0;
        padding: 0;

    table
      tr
        td
          min-width 100px
          text-align left

    .error input
      border 1px solid red
      box-shadow 3px 3px red

    .additional-link-container
      display inline-block
      a
        display inline-block
        float none

    .main-lane
      margin 0 auto
      text-align center
      clear both

      &.box
        margin 20px auto
        clear both

    .value_false
      display none

    .box
      width 100%
      max-width 40vw
      position: relative;
      overflow-y: auto;
      overflow-x: visible;
      padding 20px
      margin 20px 1vw
      background-color: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

      &.step
        display inline-block
        height 40vh
        max-height 40vh

    #body-content
      width 100vw
      height 100vh
      max-height 100vh
      overflow auto

    #coffee_request_form .error::after
      content "not valid"

    #login-dropdown-list
      top -155px
      left -55px

    #coffee_request_form
      text-align center

      #orderForm
        margin-left -20px
        margin-right -20px
        padding-left 10px
        padding-right 15px

        .row
          white-space nowrap

          input[type=text]
            width 100%
            font-size 22px
            margin-bottom 5px

          select, input[type=submit]
            width 33%
            max-width 33%
            font-size 22px

    #order_queue
      clear both
